@page "/flashcardsetlibrary"
@layout AuthorizedLayout

@inject IFlashcardSetDataAccess FlashcardSetDataAccess
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

@code{
    string SessionID { get; set; }
    bool IsInitialized { get; set; }
    int pageNo = 1;
    int pageTotal = 1;
    int setNo = 0;

    FlashcardSetModel flashcardSetModel = new FlashcardSetModel();

    protected override async Task OnInitializedAsync()
    {
        SessionID = await localStorage.GetItemAsync<string>("SessionID");
        flashcardSetModel = await FlashcardSetDataAccess.GetAllFlashcardSetsByUserAsync(SessionID);

        Console.WriteLine(flashcardSetModel.FlashcardSets[pageNo-1][0]);

        int pageTotal = Convert.ToInt32(Math.Ceiling(Convert.ToDouble(flashcardSetModel.FlashcardSets.Count / 6)));

        IsInitialized = true;
    }


}

@if (IsInitialized)
{
    <PageTitle>View Flashcard Set</PageTitle>

    <div class="center-horizontal">

        <div class="library-container">

            <div class="title-container">
                <h3>Flashcard Set Library</h3>
                <p>/Biology</p>
            </div>

            <div class="set-row">
                <div class="flashcardset">
                    <h2>@flashcardSetModel.FlashcardSets[(pageNo-1)*6][0]</h2>
                </div>
                <div class="flashcardset">
                    <h2>@flashcardSetModel.FlashcardSets[pageNo*6][0]</h2>
                </div>
                <div class="flashcardset">
                    <h2>@flashcardSetModel.FlashcardSets[(pageNo+1)*6][0]</h2>
                </div>
            </div>

            <div class="set-row">
                <div class="flashcardset">
                    <h2>@flashcardSetModel.FlashcardSets[(pageNo+2)*6][0]</h2>
                </div>
                <div class="flashcardset">
                    <h2>@flashcardSetModel.FlashcardSets[(pageNo+3)*6][0]</h2>
                </div>
                <div class="flashcardset">
                    <h2>@flashcardSetModel.FlashcardSets[(pageNo+4)*6][0]</h2>
                </div>
            </div>

            <div class="center-horizontal">
                <button class="nextcard-button">&lt;</button>
                <p id="card-counter">@pageNo / @pageTotal</p>
                <button class="nextcard-button">&gt;</button>
            </div>

        </div>

    </div>
}
