@page "/flashcardset/view"
@layout AuthorizedLayout

@inject IFlashcardSetDataAccess FlashcardSetDataAccess
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

@code{
    bool IsInitialized;

    FlashcardSetViewService flashcardSetViewService;

    protected override async Task OnInitializedAsync()
    {
        flashcardSetViewService = new FlashcardSetViewService(FlashcardSetDataAccess, localStorage, NavigationManager);
        await flashcardSetViewService.AccessInitiliazeView();
        IsInitialized = true;
    }
}

@if(IsInitialized)
{
    <PageTitle>View Flashcard Set</PageTitle>

    <div class="center-horizontal">
        <div class="viewflashcardset-container">
            <div class="set-container">
                <h3>@flashcardSetViewService.flashcardSetModel.Title</h3>
                <h2>@flashcardSetViewService.flashcardSetModel.Subject</h2>
        
                <div class="cardflip-container">

                    <div class="cardflipinner-container">

                        <div class="card-front">
                            <h2>@flashcardSetViewService.flashcardSetModel.Flashcard[0]</h2>
                        </div>
        
                        <div class="card-back">
                            <h2>@flashcardSetViewService.flashcardSetModel.Flashcard[1]</h2>
                        </div>
                    </div>

                </div>
                
                <div class="center-horizontal">
                    <button class="nextcard-button" @onclick="@flashcardSetViewService.GetPreviousCard">&lt;</button>
                    <p id="card-counter">@flashcardSetViewService.currentCardNo / @flashcardSetViewService.flashcardSetModel.TotalCards</p>
                    <button class="nextcard-button" @onclick="@flashcardSetViewService.GetNextCard">&gt;</button>
                </div>

                <div>
                    <h2>Created by @flashcardSetViewService.flashcardSetModel.CreatedUsername</h2>
                </div>


            </div>
            <div class="extras-container">
                <div>
                    <NavLink href="flashcardset/flash">
                        <button id="flash" class="extras-button">Flash</button>
                    </NavLink>
                    @if(flashcardSetViewService.owner == true)
                    {
                        <button id="flash" class="extras-button2" @onclick="@flashcardSetViewService.GetDeleteFlashcardSet">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
}