@page "/flashcardset/search"
@layout AuthorizedLayout

@inject IFlashcardSetDataAccess FlashcardSetDataAccess
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

@code{
    bool IsInitialized;
    FlashcardSetSearchService flashcardSetSearchService;

    protected override async Task OnInitializedAsync()
    {
        flashcardSetSearchService = new FlashcardSetSearchService(FlashcardSetDataAccess, localStorage, NavigationManager);
        IsInitialized = true;
    }
}

@if (IsInitialized)
{
    <div class="center-horizontal">

        <EditForm Model="@flashcardSetSearchService.searchModel">

            <div class="searchflashcardset-container">
                <div class="LHS-container">
                    <div class="set-row">
                        <div class="searchbar center-horizontal">
                            <InputTextArea class="textarea" @bind-value="@flashcardSetSearchService.searchModel.Search" ValueExpression="@(() => flashcardSetSearchService.searchModel.Search)" />
                            <button class ="search-button" type="submit" @onclick="@flashcardSetSearchService.SubmitSearch">Search</button>
                        </div>
                    </div>

                    @if (flashcardSetSearchService.search)
                    {
                    <div class="set-row">
                        @foreach (var flashcardset in flashcardSetSearchService.displayedSets)
                        {
                            <div class="flashcardset" @onclick="(async () => await flashcardSetSearchService.LoadFlashcardSet(Convert.ToInt32(flashcardset[2])))">
                                <h2>@flashcardset[0] |</h2>
                                <p>@flashcardset[1]</p>
                            </div>
                        }
                    </div>
                    }
                    else
                    {
                        <p>Make a search</p>
                    }

                    <div class="center-horizontal">
                        <button @onclick="@flashcardSetSearchService.PreviousPage" class="nextcard-button">&lt;</button>
                        <p id="card-counter">@flashcardSetSearchService.currentPageNo / @flashcardSetSearchService.totalPageNo</p>
                        <button @onclick="@flashcardSetSearchService.NextPage" class="nextcard-button">&gt;</button>
                    </div>
                </div>

                <div class="RHS-container">
                    <div class="searchoptions-container">
                        <div class="options-container">
                            <h1>Sort</h1>
                            <div class="option">
                                <label for="Alphabetical">A to Z</label><br>
                                <input id="Alphabetical" type="checkbox">
                            </div>
                            <div class="option">
                                <label for="Alphabetical">Z to A</label><br>
                                <input id="AlphabeticalInvert" type="checkbox">
                            </div>
                            <div class="option">
                                <label for="Age">Newest to Oldest</label><br>
                                <input id="Age" type="checkbox">
                            </div>
                        </div>

                        <div class="options-container">
                            <h1>Filter</h1>
                        </div>

                        <button class="search-button2">Apply</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
}

@code {

}
