@page "/flashcardset/create"
@layout AuthorizedLayout

@inject IFlashcardSetDataAccess FlashcardSetDataAccess
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

@code{
    bool IsInitialized;
    FlashcardSetCreateService flashcardSetCreateService;


    protected override async Task OnInitializedAsync()
    {
        flashcardSetCreateService = new FlashcardSetCreateService(FlashcardSetDataAccess, localStorage, NavigationManager);
        IsInitialized = true;
    }
}

@if (IsInitialized)
{
    <div class="center-horizontal">
        <div class="createflashcardset-container">
            <h3 class="createhead">Create a flashcard set</h3>


            <EditForm Model="@flashcardSetCreateService.flashcardSetModel">
                <div class="center-horizontal">
                    <div class="titleinput-container">
                        <div>
                            <h2>Title</h2>
                            <InputTextArea class="textarea" @bind-Value="@flashcardSetCreateService.flashcardSetModel.Title"></InputTextArea>
                        </div>

                        <div>
                            <h2>Subject</h2>
                            <InputTextArea class="textarea" @bind-Value="@flashcardSetCreateService.flashcardSetModel.Subject"></InputTextArea>
                        </div>

                    </div>
                </div>

                <div class="center-horizontal">
                    @if(flashcardSetCreateService.flashcardSetModel.TotalCards > 0 && flashcardSetCreateService.flashcardSetModel.CardID > 1)
                    {
                        <button class="prevcard2-button" @onclick="@flashcardSetCreateService.PreviousCard">&lt;</button>
                    }

                    <div class="card-container">
                        <h2>Question</h2>
                        <InputTextArea class="textarea" @bind-Value="@flashcardSetCreateService.flashcardSetModel.Question" maxlength="120">@flashcardSetCreateService.flashcardSetModel.Question</InputTextArea>
                        <h2>Answer</h2>
                        <InputTextArea class="textarea" @bind-Value="@flashcardSetCreateService.flashcardSetModel.Answer" maxlength="600">@flashcardSetCreateService.flashcardSetModel.Answer</InputTextArea>
                        <p>#@flashcardSetCreateService.flashcardSetModel.CardID</p>
                    </div>

                    @if (flashcardSetCreateService.flashcardSetModel.TotalCards >= flashcardSetCreateService.flashcardSetModel.CardID)
                    {
                        <button class="nextcard2-button" @onclick="@flashcardSetCreateService.NextCard">&gt;</button>
                    }
                </div>

                <div class="center-horizontal">
                    <button class="delcard-button" type="submit" @onclick="@flashcardSetCreateService.RemoveCard">-</button>
                    @if (flashcardSetCreateService.flashcardSetModel.CardID <= flashcardSetCreateService.flashcardSetModel.TotalCards)
                    {
                        <button class="newcard-button" type="submit" @onclick="@flashcardSetCreateService.SaveCard">Save Edit</button>
                    }
                    else
                    {
                        <button class="newcard-button" type="submit" @onclick="@flashcardSetCreateService.AddCard">+</button>
                    }
                    <button class="submit-button" type="submit" @onclick="@flashcardSetCreateService.Submit">✓</button>
                </div>

                @if (flashcardSetCreateService.errorMessage != null)
                {
                    <p2 class="error-message center-horizontal">@flashcardSetCreateService.errorMessage</p2>
                }
            </EditForm>
        </div>
    </div>
}
