@page "/flashcardset/create"
@layout AuthorizedLayout

@inject IFlashcardSetDataAccess FlashcardSetDataAccess
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

@code{
    bool IsInitialized { get; set; }
    CreateFlashcardSetService createFlashcardSetService;


    protected override async Task OnInitializedAsync()
    {
        createFlashcardSetService = new CreateFlashcardSetService(FlashcardSetDataAccess, localStorage, NavigationManager);
        IsInitialized = true;
    }
}

@if (IsInitialized)
{
    <div class="center-horizontal">
        <div class="createflashcardset-container">
            <h3 class="createhead">Create a flashcard set</h3>


            <EditForm Model="@createFlashcardSetService.flashcardSetModel">
                <div class="center-horizontal">
                    <div class="titleinput-container">
                        <div>
                            <h2>Title</h2>
                            <InputTextArea class="textarea" @bind-Value="@createFlashcardSetService.flashcardSetModel.Title"></InputTextArea>
                        </div>

                        <div>
                            <h2>Subject</h2>
                            <InputTextArea class="textarea" @bind-Value="@createFlashcardSetService.flashcardSetModel.Subject"></InputTextArea>
                        </div>

                    </div>
                </div>

                <div class="center-horizontal">
                    @if(createFlashcardSetService.flashcardSetModel.TotalCards > 0 && createFlashcardSetService.flashcardSetModel.CardID > 1)
                    {
                        <button class="prevcard2-button" @onclick="@createFlashcardSetService.PreviousCard">&lt;</button>
                    }

                    <div class="card-container">
                        <h2>Question</h2>
                        <InputTextArea class="textarea" @bind-Value="@createFlashcardSetService.flashcardSetModel.Question" maxlength="120">@createFlashcardSetService.flashcardSetModel.Question</InputTextArea>
                        <h2>Answer</h2>
                        <InputTextArea class="textarea" @bind-Value="@createFlashcardSetService.flashcardSetModel.Answer" maxlength="600">@createFlashcardSetService.flashcardSetModel.Answer</InputTextArea>
                        <p>#@createFlashcardSetService.flashcardSetModel.CardID</p>
                    </div>

                    @if (createFlashcardSetService.flashcardSetModel.TotalCards >= createFlashcardSetService.flashcardSetModel.CardID)
                    {
                        <button class="nextcard2-button" @onclick="@createFlashcardSetService.NextCard">&gt;</button>
                    }
                </div>

                <div class="center-horizontal">
                    <button class="delcard-button" type="submit" @onclick="@createFlashcardSetService.RemoveCard">-</button>
                    @if (createFlashcardSetService.flashcardSetModel.CardID <= createFlashcardSetService.flashcardSetModel.TotalCards)
                    {
                        <button class="newcard-button" type="submit" @onclick="@createFlashcardSetService.SaveCard">Save Edit</button>
                    }
                    else
                    {
                        <button class="newcard-button" type="submit" @onclick="@createFlashcardSetService.AddCard">+</button>
                    }
                    <button class="submit-button" type="submit" @onclick="@createFlashcardSetService.Submit">✓</button>
                </div>

                @if (createFlashcardSetService.errorMessage != null)
                {
                    <p2 class="error-message center-horizontal">@createFlashcardSetService.errorMessage</p2>
                }
            </EditForm>
        </div>
    </div>
}
